@font-face {
  font-family: "Sarala";
  src: url("/fonts/Sarala/Sarala-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  color: #eeeeee;
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: "Sarala", sans-serif;
}

a {
  text-decoration: none;
  color: #ffffff;
}

p {
  font-size: 2rem;
}

.project-tile {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 350px;
  height: 350px;
  /* max-height: 350px; */
  background-color: #381f36;
  text-align: center;
}

.project-img {
  width: 100%;
  height: 75%;
  object-fit: cover;
  /* overflow: hidden; */
}

.project-name {
  font-size: 3rem;
  padding: 26px 0 30px 0;
  margin: 0;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.section-header {
  font-size: 10rem;
  font-weight: bold;
}

.grow {
  transition: all 0.5s ease-in-out;
}

.grow:hover {
  transform: scale(1.2);
}

#welcome-section {
  background: #3d3d3d;
  background: linear-gradient(
    171deg,
    rgba(61, 61, 61, 1) 0%,
    rgba(32, 43, 56, 1) 100%
  );

  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#site-header {
  font-size: 10rem;
}

#projects {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  background-color: #203738;
  align-items: center;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 500px;
  background-color: #1e3820;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #191970;
  z-index: 9;
  border-bottom: 1px solid #ffffff;
}

#nav-list {
  display: flex;
  margin: 0;
  list-style-type: none;
  font-size: 3rem;
  text-align: center;
}

#nav-list a {
  padding: 1.5rem;
  display: block;
}
#nav-list a:hover {
  background-color: #f5fffa;
  color: #000000;
}

#human-beans {
  background-color: #34495e;
}

#ghub-logo {
  height: 5rem;
}

#fcc-logo {
  height: 5rem;
}

#contact-cards {
  height: 20rem;
  flex-direction: row;
}

#contact-subtitle {
  text-align: center;
  padding: 10px;
}

#project-subtitle {
  text-align: center;
}

@media screen and (max-device-width: 900px) {
  #projects {
    flex-direction: column;
    height: auto;
    padding-bottom: 3rem;
  }
  .project-tile {
    margin-top: 5rem;
  }

  .cards {
    flex-direction: column;
  }

  #site-header {
    font-size: 16vw;
  }

  #nav-list {
    padding: 0;
  }

  .section-header {
    font-size: 7rem;
  }
}
